{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

<main class="page-wrapper">

    {% if basket|length > 0 %}


                
                
                <style>
                    @layer utilities {
                        input[type="number"]::-webkit-inner-spin-button,
                        input[type="number"]::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                </style>
                
                <body>
                    
                    <h1 class="mb-10 text-center text-2xl font-bold">Mon panier</h1>
                    <div class="mx-auto max-w-5xl justify-center px-6 md:flex md:space-x-6 xl:px-0">
                      <div class="rounded-lg md:w-2/3">
                        <a href="{{ path('basket_removeAll') }}" class="btn btn-outline-dark btn-sm">Vider le panier</a>
                        {% set total =null %}
                        {% for item in basket %}
                        {% set total = total + item.product.price * item.quantity %}
                        <div class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start">
                          <img src="{{ vich_uploader_asset(item.product, 'attachmentFile')}}" alt="product-image" class="w-full rounded-lg sm:w-40" />
                          <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between">
                            <div class="mt-5 sm:mt-0">
                              <h2 class="text-lg font-bold text-gray-900">{{ item.product.name }}</h2>
                              <p class="mt-1 text-xs text-gray-700">{{ item.product.size }}</p>
                            </div>
                            <div class="mt-4 flex justify-between sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
                              
                              <div class="flex items-center border-gray-100">
                                
                                <a href="{{ path('basket_decrease', {id:item.product.id})}}"><span class="cursor-pointer rounded-l bg-gray-100 py-1 px-3.5 duration-100 hover:bg-blue-500 hover:text-blue-50" data-decrement> - </span>
                                  <input class="h-8 w-8 border bg-white text-center text-xs outline-none" type="number" value="{{ item.quantity }}" min="1" />
                                  
                                  <a href="{{ path('basket_add', {id:item.product.id})}}"><span class="cursor-pointer rounded-r bg-gray-100 py-1 px-3 duration-100 hover:bg-blue-500 hover:text-blue-50" data-increment> + </span>
                                  </div>
                                  
                                  <div class="flex items-center space-x-4">
                                    <p class="text-lg font-bold text-gray-900">{{ (total/100)|number_format(2, ',', '.') }} €</p>
                                    
                                    
                                    <button class="btn btn-circle">
                                      <a href="{{path ('basket_decrease', {id: item.product.id})}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
                                      </button>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                              <form action="{{ path ('order_index')}}">
                {% endfor %}
                Nombre de produit :
                {{ basket|length }}
                <br>
                
                <ul class="list-unstyled py-3 mb-0">
                    <li class="d-flex justify-content-between align-items-center border-bottom py-3">
                        <strong class="text-muted">Total</strong>
                        <h5 class="font-weight-bold">{{ (total/100)|number_format(2, ',', '.') }} €</h5>
                    </li>
                </ul>
                <div class="d-flex justify-content-between align-items-center pt-3 mb-4">
                    <a class="btn btn-outline-dark btn-sm" href="{{ path('product_index') }}">Continuer mes achats</a>
                    <button class="btn btn-primary btn-sm" type="submit">Valider mon panier</button>
                
        </form>
                
    {% else %}
<div class="container d-flex flex-column justify-content-center min-vh-100 py-5">
    <div class="text-center pt-4 mt-lg-2">
        <h1 class="display-5">Votre panier est vide</h1>
        <p class="fs-lg pb-2 pb-md-0 mb-4 mb-md-5">Commencez votre shopping dès maintenant !</p>
        <a class="btn btn-primary btn-lg" href="{{ path('product_index') }}">Voir les articles</a>
    </div>
    {% endif %}

</main>


{% endblock %}
